.App {
  text-align: center;
}

.App-header {
  background: url('./assets/background.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  background: url('./assets/container.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 682px;
  height: 400px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo p {
  color: gray;
}

.logo img {
  width: 70px;
  margin-left: 10px;
}

.input-container {
  background: url('./assets/textBox.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 76px;
}

input {
  background-color: rgb(234, 233, 234);
  font-size: 1.7rem;
  position: relative;
  top: 5px;
  width: 360px;
  height: 50px;
  border: 0px;
}

input:focus{
  outline: none;
}

.btn-form {
  background: url('./assets/arrow.png');
  background-size: cover;
  margin-top: 20px;
  border: 0px;
  width: 50px;
  height: 50px;
}

.btn-form:hover {
  cursor: pointer;
}

.req-message {
  color: #000;
}
